<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>北京</string>
		<key>spelling</key>
		<string>beijing</string>
		<key>desc</key>
		<string>中国的首都</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天津</string>
		<key>spelling</key>
		<string>tianjin</string>
		<key>desc</key>
		<string>麻花</string>
	</dict>
	<dict>
		<key>name</key>
		<string>西安</string>
		<key>spelling</key>
		<string>xi&apos;an</string>
		<key>desc</key>
		<string>兵马俑</string>
	</dict>
	<dict>
		<key>name</key>
		<string>太原</string>
		<key>spelling</key>
		<string>taiyuan</string>
		<key>desc</key>
		<string>煤矿</string>
	</dict>
	<dict>
		<key>name</key>
		<string>郑州</string>
		<key>spelling</key>
		<string>zhengzhou</string>
		<key>desc</key>
		<string>牡丹花</string>
	</dict>
	<dict>
		<key>name</key>
		<string>呼和浩特</string>
		<key>spelling</key>
		<string>huhehaote</string>
		<key>desc</key>
		<string>大草原</string>
	</dict>
	<dict>
		<key>name</key>
		<string>集宁</string>
		<key>spelling</key>
		<string>jining</string>
		<key>desc</key>
		<string>建筑</string>
	</dict>
	<dict>
		<key>name</key>
		<string>上海</string>
		<key>spelling</key>
		<string>shanghai</string>
		<key>desc</key>
		<string>东方之珠</string>
	</dict>
	<dict>
		<key>name</key>
		<string>广州</string>
		<key>spelling</key>
		<string>guangzhou</string>
		<key>desc</key>
		<string>世界之窗</string>
	</dict>
	<dict>
		<key>name</key>
		<string>深圳</string>
		<key>spelling</key>
		<string>shenzhen</string>
		<key>desc</key>
		<string>富士康</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杭州</string>
		<key>spelling</key>
		<string>hangzhou</string>
		<key>desc</key>
		<string>西湖</string>
	</dict>
</array>
</plist>
